   <div id="single-content">
      <header class="single-article-header">
        <div class="single-one-title">
          <h1 class="single-title" itemprop="headline"><%= @article.title %></h1>
        </div>


            <div class="entry-meta">

              <div class="entry-category">
                <p><%= @article.category.name %><%# 記事カテゴリーを呼び出す%></p>
              </div>

              <p class="byline vcard"><%= @article.created_at %></p>

              <div class="entry-member">
                <a href=""><p>by <%= @article.member.name %></p></a>
              </div>

            </div>

    </header>

        <div id="single-main" role="main">
        <article class="single-article" role="article">

          <section class="article-content" itemprop="articleBody"><%= raw @article.content %>
          </section>

          <footer class="article-footer">

            <div class="member-main">
              <div class="member-img">
                <a href=""><img src= /assets/member/<%= @article.member.photo %> width='32' length='32'></a>
              </div>

              <div class="member-content">
                <h3><%= @article.member.name %></h3>
                <p><%= @article.member.description %></p>
                <p><a href="<%= @article.member.url1 %>"><%= @article.member.url1 %></a></p>
              </div>

            </div>


          </footer>

          <div class="related-artcile">
            <% @articles.each do |articles| %>
              <%= articles.title %>
            <% end %>
            <%# 関連のある記事を呼び出す %>
          </div>

        </article>

      </div>

  </div>

</div>

</div>


  <%= render partial: 'layouts/sidebar' %>



