<%# header をここに記述します %>
  <%#　toppage content below header %>
   <div id="content">

    <div id="inner-content">

      <div id="main" role="main">

        <div class="category-title">
          <h2>SHOP</h2>
          <p>Thou shouldst live to eat, not eat to live</p>
        </div>

        <% @articles.each do |article| %><%# each do はじまり%>

        <article class="hentry" role="article">

          <header class="article-header">
            <div class="one-title">
              <div class="entry-thumbnail">
                <a href= "<%= shop_path(article.id) %>" ><img src= /assets/article/<%= article.photo %> width="307" height="179" ></a><%# 記事画像挿入、リンクがうまく動かない %>
              </div>
              <h1 class="h2 entry-title"><a href="<%= shop_path(article.id) %>" rel="bookmark" title="" ><%= article.title %></a></h1>
            </div>
          </header>
          <div class="entry-content">

            <p class="entry-text"><a title="記事詳細へ" href="<%= shop_path(article.id) %>"><%= truncate(article.content, length: 50) %></a></p>

            <div class="entry-meta">

              <div class="entry-member">
                <a href="<%# 未実装 %>"><img src="/assets/member/<%= article.member.photo %>"><p><%= article.member.name %></p></a>
              </div>

              <div class="entry-category">
                <p><a href="<%# 未実装 %>"><%= article.category.name %></a></p>
              </div>

              <p class="byline vcard"><%= article.created_at.strftime("%x") %><%# 記事の書かれた日付を記述 %></p>

            </div>

          </div>

        </article>
        <% end %>
      </div>
    </div>
  </div>




