<h2><%= @shop.shop_name%></h2>
<p><%= @shop.shop_address %></p>
<p><%= @shop.shop_time %></p>
<p><%= @shop.shop_phone %></p>
<p><%= @shop.shop_map %></p>
<p><%= @shop.shop_web %></p>
<p><%= @shop.shop_photo %></p>
<p><%= @shop.shop_description %></p>
<p><%= @shop.shop_price %></p>
