   <div id="single-content">
      <header class="single-article-header">
        <div class="single-one-title">
          <h1 class="single-title" itemprop="headline"><%= @article.title %></h1>
        </div>


            <div class="entry-meta">

              <div class="entry-member">
                <a href="../member/<%= @article.member.id %>"><p><%= @article.member.name %></p></a>
              </div>

              <div class="entry-category">
                <p><%= @article.category.name %><%# 記事カテゴリーを呼び出す%></p>
              </div>

              <p class="byline vcard"><%= @article.created_at.strftime("%x") %></p>

              <div id="facebook-button" class="social-button">
                <a href="#" onclick=" 
      window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
      return false;">
                <img src="./images/facebook.png">
                </a>
              </div>

              <div id="twitter-button" class="social-button">
                <a href="http://twitter.com/intent/tweet?text=[ここにツイートしたい内容を書きます]"　onClick="window.open(encodeURI(decodeURI(this.href)),
      'tweetwindow',
      'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'
      ); return false;">
                <img src="./images/twitter.png">
                </a>
              </div>



    </header>

        <div id="single-main" role="main">
        <article class="single-article" role="article">

          <section class="article-content" itemprop="articleBody"><%= raw @article.content %>
          </section>

          <footer class="article-footer">

            <div id="article-member-introduction">
            <div class="member-show-main">
              <div class="member-img">
                <a href= "../member/<%= @article.member.id %>"><img src= /assets/member/<%= @article.member.photo %> ></a>
              </div>

              <div class="member-content">
                <h3><a href= "../member/<%= @article.member.id %>"><%= @article.member.name %></a></h3>
                <p><%= raw @article.member.description %></p>
                <p><a href="<%= @article.member.url1 %>"><%= @article.member.url1 %><%# メンバーのURLを呼び出す %></a></p>
              </div>

            </div>
            </div>


          </footer>

          <div class="related-artcile">
            <% @articles.each do |articles| %>

            <% end %>
            <%# 関連のある記事を呼び出す %>
          </div>

        </article>

      </div>





  <%= render partial: 'layouts/sidebar' %>
  </div>
  </div>
  </div>




