   <div id="single-content">
      <header class="single-article-header">
        <div class="single-one-title">
          <h1 class="single-title" itemprop="headline"><%= @article.title %></h1>
        </div>


            <div class="entry-meta">

              <div class="entry-member">
                <a href="../member/<%= @article.member.id %>"><p><%= @article.member.name %></p></a>
              </div>

              <div class="entry-category">
                <p><%= @article.category.name %><%# 記事カテゴリーを呼び出す%></p>
              </div>

              <p class="byline vcard"><%= @article.created_at.strftime("%x") %></p>

              <div id="facebook-button" class="social-button"><div class="fb-like" data-href="http://www.noren3.com/article/<%= @article.id %>" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div></div>

              <div id="twitter-button" class="social-button"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-dnt="true">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>

              <div id="pocket-button" class="social-button"><a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
              <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script></div>
              </div>

    </header>

        <div id="single-main" role="main">
        <article class="single-article" role="article">

          <section class="article-content" itemprop="articleBody"><%= raw @article.content %>
          </section>

          <footer class="article-footer">

            <div id="article-member-introduction">
            <div class="member-show-main">
              <div class="member-img">
                <a href= "../member/<%= @article.member.id %>"><img src= /assets/member/<%= @article.member.photo %> ></a>
              </div>

              <div class="member-content">
                <h3><a href= "../member/<%= @article.member.id %>"><%= @article.member.name %></a></h3>
                <p><%= raw @article.member.description %></p>
                <p><a href="<%= @article.member.url1 %>"><%= @article.member.url1 %><%# メンバーのURLを呼び出す %></a></p>
              </div>

            </div>
            </div>


          </footer>

          <div class="related-artcile">
            <% @articles.each do |articles| %>

            <% end %>
            <%# 関連のある記事を呼び出す %>
          </div>

        </article>

      </div>





  <%= render partial: 'layouts/sidebar' %>
  </div>
  </div>
  </div>




