
<%# ここから下がShoyaが書きました %>

<%# header をここに記述します %>
  <%#　toppage content below header %>
  <div id="content">

    <div>
      <%# if構文で制御できるようにする %>
      <section id="" role="article">

        <div class="member-image">
          <img src=/assets/member/<%= @member.photo %> width="200" height="200">
        </div>

        <div class="member-content">

          <div class="member-name">
            <h3><%= @member.name %><%# メンバーの名前を呼び出す %></h3>
          </div>

          <div class="member-discription" >
            <p><%= @member.description %><%# メンバーの説明文章を呼び出す %></h3>
          </div>

          <div class="member-url">
            <p><%= @member.url1 %><%# メンバーのURLを呼び出す %></p>
          </div>

          <div class="member-social">
            <ul>
              <li></li>
            </ul>
          </div>
          <p><%= link_to 'メンバー一覧へ', '/member' %></p>

        </div>

      </section>

    </div>

    <div id="inner-content">

      <div id="main" role="main">

        <%# 個別メンバー の記事の表示開始 ここから下をeach do で繰り返す※以下の構造はindexと同じ %>
        <article id="" role="article">

          <header class="article-header">
            <div class="one-title">
              <div class="entry-thumbnail">
                <a href= ""><img src= /assets/article/<%= @member.article.photo %> width="307" height="179"><%# 画像をクリックしたときのリンク%><%# 該当記事の画像を引っ張ってくるコード%></a>
              </div>
              <h1 class="h2 entry-title"><%= link_to @member.article.title, '' %><%# タイトルに関係する属性を入れる必要あり%> <%# 記事タイトルを呼び出す %></a></h1>
            </div>
          </header>

          <div class="entry-content">

            <p><%= truncate(@member.article.content, length: 50) %></br><%= link_to "記事詳細へ", '' %></p>

            <div class="entry-meta">
              <span class="entry-category"><%= @member.article.category.name %><%# カテゴリーを呼び出す %></span>
              <p class="byline vcard"><%= @member.article.created_at %><%# update_timeを呼び出す %></p>
            </div>

          </div>

        </article>
      </div>
      
    </div>
  </div>

