   <div id="content">

    <div id="inner-content">

      <div id="main" role="main">

        <div class="category-title">
          <h2><%= @member.name %></h2>
          <p><%= @member.nicename %></p>
        </div>
        <div id="member-introduction">
            <div class="member-show-main member-show-introduction">
              <div class="member-img">
                <img src="/assets/member/<%= @member.photo %>" >
              </div>

              <div class="member-content">
                <h3><%= @member.name %><%# メンバーの名前を呼び出す %></h3>
                <p><%= raw @member.description %><%# メンバーの説明文章を呼び出す %></p>
                <p><a href="<%= @member.url1 %>"><%= @member.url1 %><%# メンバーのURLを呼び出す %></a></p>
              </div>

            </div>
            </div>
        <% @articles.each do |article| %><%# ”new” の記事の表示開始 ここから下をeach do で繰り返す %>
        <article class="hentry" role="article">

          <header class="article-header">
            <div class="one-title">
              <div class="entry-thumbnail">
                <a href= "/../article/<%= article.id %>"><img src='<%= asset_path "article/#{article.photo}" %>' /></a> <%# 記事画像挿入、リンクがうまく動かない %>
              </div>
              <h1 class="h2 entry-title"><a href= "/../article/<%= article.id %>"><%= article.title %></a><%# 記事タイトルと、そのリンク %> <%# ここ不明！タイトルに関係する属性を入れる必要あり%> </h1>
            </div>
          </header>
          <div class="entry-content">

            <p class="entry-text"><%= truncate(strip_tags(article.content), :length => 50) %><%# 記事詳細へのリンクと、50文字を呼び出す %></p>

            <div class="entry-meta">

              <div class="entry-member">
                <a href="<%= article.member.id %>"><img src='<%= asset_path "member/#{article.member.photo}" %>' />
              <%# 個別メンバーのプロフィール写真、名前を呼び出す %><p><%= article.member.name %></p></a>
              </div>

              <a href="/../<%= article.category.id %>"><div class="entry-category">
                <p><%= article.category.name %></p>
              </div></a>

              <p class="byline vcard"><%= article.created_at.strftime("%x") %></p>

            </div>

          </div>

        </article>
        <% end %>
      </div>
    </div>
  </div>
