  <div id="container">
    <div id="main">
    <header class="header" role="banner">

      <div id="mini-nav" >
        <p id="copy">外が雨なら出かけよう、ポートランドWEBマガジン</p>
        <ul>
          <li><%= link_to 'About', '/about' %></li>
          <li>｜</li>
          <li><%= link_to 'Member', '/member' %></li>
        </ul>
      </div>

      <div class="logo">
        <h1 id="logo"><a href= "/"><img src="/assets/noren_logo.png" alt="Noren Logo"></a></h1>
      </div>

      <div id="search-bar">
      </div>

      <div id="inner-header">
        <nav role="navigation">
          <ul id="menu-header-menu" class="nav top-nav">
            <li><%= link_to 'FOOD', '/1' %></li>
            <li><%= link_to 'ENJOY', '/2' %></li>
            <li><%= link_to 'SHOP', '/3' %></li>
            <% if false %> <li>OTHER</li>
              <ul>
                <li><%= link_to 'STAY', '/category/stay' %></li>
                <li><%= link_to 'STUDY', '/category/study' %></li>
                <li><%= link_to 'MEET', '/category/meet' %></li>
              </ul>
              <% end %>
            <li><%= link_to 'COLUMN', '/4' %></li>
          </ul>
        </nav>
      </div>
  </header>