<!DOCTYPE html>
<html>
<head>
  <title>Norenportland</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'Noren Portland', '/home' %></h1>
<ul>
 <li><%= link_to 'FOOD', '/food' %></li>
 <li><%= link_to 'SHOP', '/shop' %></li>
 <li><%= link_to 'ENJOY', '/enjoy' %></li>
 <li><%= link_to 'STAY', '/stay' %></li>
 <li><%= link_to 'STUDY', '/study' %></li>
 <li><%= link_to 'MEET', '/meet' %></li>
 
</ul>

<ul>
  <li><%= link_to 'ABOUT', '/about' %></li>
  <li><%= link_to 'COLUM', '/column' %></li>
  <li><%= link_to 'GENERAL', '/general' %></li>
  <li><%= link_to 'WRITERS', '/member' %></li>

<ul>
  


<%= yield %>

</body>
</html>
