<!DOCTYPE html>
<html>
<head>
  <title>Norenportland</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'Noren Portland', '/' %></h1>

<ul>
 <li><%= link_to 'FOOD',  '/category/food' %></li>
 <li><%= link_to 'SHOP', '/category/shop' %></li>
 <li><%= link_to 'ENJOY', '/category/enjoy' %></li>
 <li><%= link_to 'STAY', '/category/stay' %></li>
 <li><%= link_to 'STUDY', '/category/study' %></li>
 <li><%= link_to 'MEET', '/category/meet' %></li>
</ul>

<ul>
  <li><%= link_to 'ABOUT', '/about' %></li>
  <li><%= link_to 'COLUMN', '/category/column' %></li>
  <li><%= link_to 'GENERAL', '/category/general' %></li>
  <li><%= link_to 'WRITERS', '/member' %></li>
<ul>
  
<%= yield %>

</body>
</html>
